<div>
	<table class="body-header">	
		<tr>	  
		  <td>
			 <h4>Gateway Administration</h4>
			  <h5>BETaaS Backend <span style="color: rgb(241,145,75)" id="backend">{{ connected }}</span>
				<button class="button-thingsim ui-state-default ui-corner-all" ng-click="check()">Connect</button>
			  </h5>
			  <p></p>
			  <h5>GW ID: <span style="color: rgb(241,145,75)" id="subtitle">N/A</span></h5>
			</td>	  
			<td id="header-logo">            
				<p>
					<img src="images/betaas_logo.png"/>
				</p>	 
            </td>	
		</tr>    
	</table>    
</div>
