<wsag4j-config:WSAG4JEngineConfiguration xmlns:wsag4j-config="http://schemas.scai.fraunhofer.de/config/wsag4j">

  	<wsag4j-config:ResourceId>SAMPLE-INSTANCE-1</wsag4j-config:ResourceId>

  	<wsag4j-config:Factory>
	  	<wsag4j-config:FactoryImplementation>
	  		<wsag4j-config:ImplementationClass>org.ogf.graap.wsag.server.engine.GenericAgreementFactory</wsag4j-config:ImplementationClass>
	  	</wsag4j-config:FactoryImplementation>
	  	<wsag4j-config:PersistenceImplementation>
	  		<wsag4j-config:ImplementationClass>org.ogf.graap.wsag.server.persistence.impl.DatabaseWSAG4JPersistence</wsag4j-config:ImplementationClass>
	  	</wsag4j-config:PersistenceImplementation>
  	</wsag4j-config:Factory>

  	<wsag4j-config:Validator>
  		<wsag4j-config:SchemaImports>
		  	<wsag4j-config:SchemaFilename>/validator/XMLSchema.xml</wsag4j-config:SchemaFilename>
		  	<wsag4j-config:SchemaFilename>/validator/ws-agreement-xsd-types.xsd</wsag4j-config:SchemaFilename>
            <wsag4j-config:SchemaFilename>/validator/ws-addr.xsd</wsag4j-config:SchemaFilename>
		  	<wsag4j-config:SchemaFilename>/validator/jsdl.xsd-18.xsd</wsag4j-config:SchemaFilename>
		  	<wsag4j-config:SchemaFilename>/validator/jsdl-posix.xsd-6.xsd</wsag4j-config:SchemaFilename>
		    <wsag4j-config:SchemaFilename>/validator/constraint_definition_types.xsd</wsag4j-config:SchemaFilename>
          	<wsag4j-config:SchemaFilename>/validator/ws-agreement-negotiation-types.xsd</wsag4j-config:SchemaFilename>
          	<wsag4j-config:SchemaFilename>/validator/betaas.xsd</wsag4j-config:SchemaFilename>
  		</wsag4j-config:SchemaImports>
  	</wsag4j-config:Validator>

  	<wsag4j-config:Action wsag4j-config:name="WSAG4J-SAMPLE-1">
            <wsag4j-config:GetTemplateConfiguration>
                    <wsag4j-config:ImplementationClass>org.ogf.graap.wsag.server.actions.impl.VelocityAgreementTemplateAction</wsag4j-config:ImplementationClass>
                    <wsag4j-config:FileTemplateConfiguration>
                            <wsag4j-config:Filename>samples/betaas-template-simple.xml</wsag4j-config:Filename>
                    </wsag4j-config:FileTemplateConfiguration>
            </wsag4j-config:GetTemplateConfiguration>
            <wsag4j-config:CreateAgreementConfiguration>
                    <wsag4j-config:ImplementationClass>org.ogf.graap.wsag.samples.Sample1CreateAgreementAction</wsag4j-config:ImplementationClass>
            </wsag4j-config:CreateAgreementConfiguration>
            
    </wsag4j-config:Action>
            
    
  	

  	
    
</wsag4j-config:WSAG4JEngineConfiguration>

