<wsag4j-config:Configuration xmlns:wsag4j-config="http://schemas.scai.fraunhofer.de/config/wsag4j">

  <wsag4j-config:WSRFEngineConfiguration>
  
<!--
	The gateway uri is a required parameter for each wsag4j installation.
	It should be set to the uri clients use to access this service. All
	web service resources are deployed at this url. 

	<wsag4j-config:GatewayAddress>http://localhost:8080/wsag4j</wsag4j-config:GatewayAddress>
 -->    
	<wsag4j-config:GatewayAddress></wsag4j-config:GatewayAddress>

    <wsag4j-config:Keystore>
    	<wsag4j-config:KeystoreType>JKS</wsag4j-config:KeystoreType>
    	<wsag4j-config:KeystoreFile>wsag4j-server-keystore.jks</wsag4j-config:KeystoreFile>
    	<wsag4j-config:KeystorePassword>server@wsag4j</wsag4j-config:KeystorePassword>
    	<wsag4j-config:Alias>wsag4j-server</wsag4j-config:Alias>
    	<wsag4j-config:AliasPassword>server@wsag4j</wsag4j-config:AliasPassword>
    </wsag4j-config:Keystore>
    
    <wsag4j-config:Truststore>
	    <wsag4j-config:TruststoreType>JKS</wsag4j-config:TruststoreType>
	    <wsag4j-config:TruststoreFile>wsag4j-server-keystore.jks</wsag4j-config:TruststoreFile>
	    <wsag4j-config:TruststorePassword>server@wsag4j</wsag4j-config:TruststorePassword>
	</wsag4j-config:Truststore>
	
    <wsag4j-config:SecurityHandlerChain>
    	<wsag4j-config:Handler>
    		<wsag4j-config:HandlerName>WSAG4J_SECURITY_HANDLER</wsag4j-config:HandlerName>
    		<wsag4j-config:ImplementationClass>org.ogf.graap.wsag.wsrf.security.WSSecurityHandler</wsag4j-config:ImplementationClass>
    	</wsag4j-config:Handler>
    </wsag4j-config:SecurityHandlerChain>
    
    <wsag4j-config:WSAG4JEngineInstances>
    	<wsag4j-config:WSAG4JEngine wsag4j-config:EngineConfigurationFile="/wsag4j-engine.config" />
    	<wsag4j-config:WSAG4JEngine wsag4j-config:EngineConfigurationFile="/wsag4j-engine-instance-2.config" />
    </wsag4j-config:WSAG4JEngineInstances>
    
  </wsag4j-config:WSRFEngineConfiguration>
  
</wsag4j-config:Configuration>